<div class="section section-md @@classes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="text-center px-0 px-lg-5">
                    <h2 class="mb-4">お気軽にご相談ください</h2>
                    <p class="lead text-muted mb-5 mb-lg-6">ホームページ制作、サーバー構築などウェブ周りのご相談から、ブランド設計、マーケティングのSEO対策、ITサービス導入支援まで、地域社会に貢献できる運用サポートならお任せください。メールでのお問い合わせは、suport@picros.comへお願いします。</p>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="form-label text-muted" for="Name">お名前 <span class="text-danger">*</span></label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                    </div>
                                    <input class="form-control" id="Name" placeholder="お名前を入力してください" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="form-label text-muted" for="comName">法人名 <span class="text-danger">*</span></label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                    </div>
                                    <input class="form-control" id="comName" placeholder="法人名を入力してください" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="form-label text-muted" for="email">メールアドレス <span class="text-danger">*</span></label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input class="form-control" id="email" placeholder="メールアドレスを入力してください" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="form-label text-muted" for="phone">電話番号 <span class="text-danger">*</span></label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                                    </div>
                                    <input class="form-control" id="phone" placeholder="電話番号を入力してください" type="number" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-12 mt-lg-4">
                            <div class="form-group">
                                <label class="form-label text-muted" for="message">ご用件<span class="text-danger">*</span></label>
                                <textarea id="message" class="form-control" placeholder="ご用件を入力してください" rows="8" required></textarea>
                            </div>
                            <div class="text-lg-center mb-2">
                                <button type="submit" class="btn btn-primary animate-up-2 mt-4"><span class="mr-2"><i class="fas fa-paper-plane"></i></span>送信する</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>