<section class="section @@classes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-primary shadow-lg border-variant-primary">
                    <div class="card-body px-lg-5">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-md-6 mb-4 mb-lg-0">
                                <h2 class="display-3">制作内容について</h2>
                                <p class="lead text-muted my-4">一緒にホームページを作りませんか？ご連絡ください。</p>
                                <a href="@@path/html/contact.html" class="btn btn-secondary animate-up-2"><i class="fas fa-file-invoice mr-2"></i>サービスを見る</a>
                            </div>
                            <div class="col-12 col-md-5">
                                <img src="@@path/assets/img/illustrations/reading-side.svg" alt="">
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>