<!-- End of section -->
<section id="cta-licensing" class="section bg-light">
    <div class="container">
        <div class="mb-4 mb-lg-5 text-center">
            <h2 class="font-weight-border">ホームページ制作のお見積もり</h2>
        </div>
        <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
                <div class="pricing-card">
                    <div class="card shadow-soft border-tertiary mt-1">
                        <!-- Header -->
                        <header class="card-header bg-white p-3 text-center">
                            <h2 class="h5 text-primary mb-4">個人プラン</h2>
                            <span class="d-block">
                                <span class="display-1 text-dark font-weight-bold">
                                    3<span class="align-bottom font-medium">万〜</span>
                                </span>
                            </span>
                        </header>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-group mb-4">
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ワンページ制作</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ウェブサーバー構築</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    基本セキュリティ対策</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    3ヶ月間の安心サポート</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    ワードプレス導入</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    フォーム設置</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    集客機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    販売機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    会員登録付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    コピーライティング</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    キーワード調査・SEO対策</li>
                            </ul>
                            <a href="@@path/html/contact.html"
                                class="btn btn-outline-primary btn-block" target="_blank">個人プランを見積もり</a>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="pricing-card">
                    <div class="card shadow-soft border-tertiary mt-1">
                        <!-- Header -->
                        <header class="card-header bg-white p-3 text-center">
                            <h2 class="h5 text-primary mb-4">事業プラン</h2>
                            <span class="d-block">
                                <span class="display-1 text-dark font-weight-bold">
                                    30<span class="align-bottom font-medium">万〜</span>
                                </span>
                            </span>
                        </header>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-group mb-4">
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ウェブサイト制作</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ウェブサーバー構築</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    常時SSL暗号化対策</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    6ヶ月間の安心サポート</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ワードプレス導入</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    フォーム設置</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    集客機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    販売機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    会員登録付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    コピーライティング</li>
                                <li class="list-group-item"><i class="fas fa-times-circle mr-1 text-danger"></i>
                                    キーワード調査・SEO対策</li>
                            </ul>
                            <a href="@@path/html/contact.html"
                                class="btn btn-primary btn-block animate-up-2" target="_blank">事業プランを見積もり</a>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="pricing-card">
                    <div class="card shadow-soft border-tertiary  mt-1">
                        <!-- Header -->
                        <header class="card-header bg-white p-3 text-center">
                            <h2 class="h5 text-primary mb-4">法人プラン</h2>
                            <span class="d-block">
                                <span class="display-1 text-dark font-weight-bold">
                                    300<span class="align-bottom font-medium">万〜</span>
                                </span>
                            </span>
                        </header>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-group mb-4">
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    フルスタック制作</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ウェブサーバー構築</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    ISO27001対策</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    12ヶ月間の安心サポート</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    セキュアCMS導入</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    セキュアフォーム設置</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    集客機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    販売機能付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    会員登録付きサイト設計</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    コピーライティング</li>
                                <li class="list-group-item"><i class="fas fa-check-circle mr-1 text-success"></i>
                                    キーワード調査・SEO対策</li>
                            </ul>
                            <a href="@@path/html/contact.html"
                                class="btn btn-primary btn-block animate-up-2" target="_blank">法人プランを見積もり</a>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4"><a href="@@path/html/legal.html"
                class="text-gray font-small font-weight-light"><i class="fas fa-question-circle mr-1"></i> 免責事項をご確認ください。</a></p>
    </div>
</section>
