<div class="col-12 col-lg-2 border-right pt-3 pt-md-3 doc-sidebar">
    <div id="doc-index" class="collapse">
        <div class="mb-3 mb-md-4">
            <a href="@@path/index.html">
                <img src="@@path/assets/img/brand/dark.svg" class="mb-4 fmxh-50 fmxw-100 d-block w-auto mr-auto" alt="Leo Logo">
            </a>
            <h6 class="mb-2">Getting Started</h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="@@docs_path/introduction.html" class="nav-link">Introduction </a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/file-structure.html" class="nav-link">File Structure </a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/gulp.html" class="nav-link">Gulp </a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/utilities.html" class="nav-link">Utilities</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/javascript.html" class="nav-link">Javascript</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/changelog.html" class="nav-link">Changelog </a>
                </li>
            </ul>
        </div>
        <div class="mb-3 mb-md-4">
            <h6 class="mb-2">How To</h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="@@docs_path/how-to/color-scheme.html" class="nav-link">Edit Color Scheme</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/how-to/fonts.html" class="nav-link">Edit Fonts</a>
                </li>
            </ul>
        </div>
        <div class="mb-3 mb-md-4">
            <h6 class="mb-2">Components</h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="@@docs_path/components/accordions.html" class="nav-link">Accordions</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/alerts.html" class="nav-link">Alerts</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/badges.html" class="nav-link">Badges</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/blog-cards.html" class="nav-link">Blog Cards</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/bootstrap-carousels.html" class="nav-link">Bootstrap Carousels</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/breadcrumbs.html" class="nav-link">Breadcrumbs</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/buttons.html" class="nav-link">Buttons</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/collapse.html" class="nav-link">Collapse</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/counters.html" class="nav-link">Counters</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/forms.html" class="nav-link">Forms</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/icon-boxes.html" class="nav-link">Icon Boxes</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/modals.html" class="nav-link">Modals</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/navbars.html" class="nav-link">Navbars</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/navs.html" class="nav-link">Navs</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/pagination.html" class="nav-link">Pagination</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/popovers.html" class="nav-link">Popovers</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/pricing-cards.html" class="nav-link">Pricing Cards</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/profile-cards.html" class="nav-link">Profile Cards</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/progress.html" class="nav-link">Progress</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/tabs.html" class="nav-link">Tabs</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/tooltips.html" class="nav-link">Tooltips</a>
                </li>
                <li class="nav-item">
                    <a href="@@docs_path/components/typography.html" class="nav-link">Typography</a>
                </li>
            </ul>
        </div>
    </div>
</div>