<footer class="footer section pb-3 @@classes overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-4">
                <a class="footer-brand mr-lg-5" href="@@path/index.html">
                    <img src="@@path/assets/img/brand/light.svg" alt="Footer logo">
                </a>
                <p class="my-2"><i class="fas fa-building mr-2"></i>株式会社ピクロス</p>
                <p class="my-2"><i class="fas fa-map-marker-alt mr-2"></i>東京都目黒区目黒1-9-21 LC1F</p>
                <p class="my-2"><i class="fas fa-phone mr-2"></i>070-2828-1602</p>
                <div class="dropdown mb-5 mb-xl-0">
                    <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle footer-language-link">
                        <img src="@@path/assets/img/flags/japan.svg" alt="flag" class="language-flag">Japanese<i class="fas fa-chevron-down ml-1"></i>
                    </a>
                    <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-primary dropdown-menu-center text-dark mt-2">
                        <a href="#" class="dropdown-item text-sm text-dark"><img src="@@path/assets/img/flags/united-states.svg" alt="flag" class="language-flag">English</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                <h5 class="mb-3">MENU</h5>
                <ul class="links-vertical">
                    <li><a href="@@path/html/about.html">企業情報</a></li>
                    <li><a href="@@path/html/services.html">事業内容</a></li>
                    <li><a href="@@path/html/projects.html">活動実績</a></li>
                    <li><a href="@@path/html/contact.html">アクセス</a></li>
                </ul>
            </div>
            <div class="col-6 col-xl-2 mb-5 mb-xl-0">
                <h5 class="mb-3">OTHER</h5>
                <ul class="links-vertical">
                    <li><a href="@@path/html/503.html">サービス資料<span class="badge badge-sm badge-secondary ml-2">v1.0</span></a></li>
                    <li><a href="@@path/html/support.html">よくある質問</a></li>
                    <li><a href="@@path/html/blog.html">メディア</a></li>
                    <li><a href="@@path/html/sitemap.html">サイトマップ</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4 mb-5 mb-xl-0">
                <h5 class="mb-3">NEWS</h5>
                <p class="font-sm">月に一度くらいの頻度で、情報を配信します。</p>
                <form action="" class="row">
                    <div class="col-8">
                        <input type="email" class="form-control mb-0" placeholder="Email Address" name="email" required>
                    </div>
                    <div class="col-4 pl-0 pr-2">
                        <button type="submit" class="btn btn-secondary animate-up-2">登録</button>
                    </div>
                </form>
                <small class="mt-3 form-text"><a class="font-weight-bold" href="@@path/html/privacy.html">プライバシーポリシー</a>を確認ください。</small>
            </div>
        </div>
        <hr class="my-lg-5">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0"><a href="@@path/html/law.html">特定商取引法に基づく表示</a>｜<a href="@@path/html/legal.html">免責事項</a>｜<a href="@@path/html/sales.html">セールスの弊社応対について</a></br>© <a href="#" target="_blank">PICROS</a> <span class="current-year"></span>. All rights reserved.</br></p>
                </div>
            </div>
        </div>
    </div>
</footer>