<!-- Primary Meta Tags -->
<title>@@title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="PICROS">
<meta name="description" content="目黒区・自由が丘のホームページ制作会社ピクロス">
<meta name="keywords" content="ホームページ制作, webデザイン, web制作, 東京, 目黒, 自由が丘, おしゃれ, ウェブサイト, 運用, hp, デザイン, html, 初心者, Web, SEO, wordpress, お洒落," />
<link rel="canonical" href="https://picros.jp">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://picros.jp">
<meta property="og:title" content="@@title">
<meta property="og:description" content="目黒区・自由が丘のホームページ制作会社ピクロス">
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/leo/leo-preview.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://picros.jp">
<meta property="twitter:title" content="@@title">
<meta property="twitter:description" content="目黒区・自由が丘のホームページ制作会社ピクロス">
<meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/leo/leo-preview.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Prism -->
<link type="text/css" href="@@path/node_modules/prismjs/themes/prism.css" rel="stylesheet">

<!-- Lightbox CSS -->
<link type="text/css" href="@@path/node_modules/lightbox2/dist/css/lightbox.css" rel="stylesheet">

<!-- Leo CSS -->
<link type="text/css" href="@@path/css/leo.css" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-1"></script>
<script>   window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-141734189-1'); </script> -->