<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-theme-primary @@classes headroom py-lg-2 px-lg-6">
        <div class="container">
            <a class="navbar-brand" href="@@path/index.html">
                <img class="navbar-brand-dark" src="@@path/assets/img/brand/light.svg" alt="Logo light">
                <img class="navbar-brand-light" src="@@path/assets/img/brand/dark.svg" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="@@path/index.html">
                                <img src="@@path/assets/img/brand/dark.svg" alt="Mobile Logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover justify-content-center ml-auto">
                    <li class="nav-item">
                        <a href="@@path/html/about.html" class="nav-link">企業情報</a>
                    </li>
                    <li class="nav-item">
                        <a href="@@path/html/services.html" class="nav-link">事業内容</a>
                    </li>
                    <li class="nav-item">
                        <a href="@@path/html/projects.html" class="nav-link">活動実績</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                            <span class="nav-link-inner-text mr-1">サポートセンター</span>
                            <i class="fas fa-angle-down nav-link-arrow"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg">
                            <div class="col-auto px-0" data-dropdown-content>
                                <div class="list-group list-group-flush">
                                    <a href="@@path/html/503.html"
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-md icon-secondary"><i class="fas fa-file-alt"></i></span>
                                        <div class="ml-4">
                                            <span class="text-dark d-flex align-items-bottom">
                                                <span>サービス資料</span>
                                                <span class="badge badge-sm badge-secondary ml-2">v1.0</span>
                                            </span>
                                            <span class="small">ホームページ制作・SEO対策</span>
                                        </div>
                                    </a>
                                    <a href="@@path/html/support.html"
                                        class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-md icon-primary"><i class="fas fa-microphone-alt"></i></span>
                                        <div class="ml-4">
                                            <span class="text-dark d-flex align-items-bottom">
                                                <span>サポートページ</span>
                                            </span>
                                            <span class="small">よくあるご質問・FAQ</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="@@path/html/contact.html" target="_blank" class="btn btn-buy btn-secondary animate-up-2 d-none d-lg-inline ml-3">お問い合わせ</a>
            </div>
            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>
